body{
	margin: 0 auto;
	background-color: #EEEEEE;
}

hr {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: yellow -moz-use-text-color #FFFFFF;
	border-style: solid none;
	border-width: 1px 0;
	margin: 18px 0;
}

.movies-container {
	background-color: white;
}

.navbar {
    color: #3A9425;
    background-color: black;
    width: 100%;
    margin: 0 auto;
}

.navbar a {
	text-decoration: none;
	cursor: pointer;
	color: white;
}

.genre-detail-view, .home-view {	
	height: 300px;
}

.genre-detail-view img{
	width: 100%;
	height: 250px;
	cursor: pointer;
}

 .home-view img {
	width: 100%;
	height: 250px;
	cursor: pointer;
}

.genre-content, .home-content {
	width: 100%;
	margin: 0 auto;	
}

.genre-dropdown select{
	height: 42px;
	margin: 15px;
}

.movie-content {
	background-color: #FEF7CD;
}

.movie-img img{
	width: 100%;
}

.movie-search {
	width: 100%;
	height: 10px;
	float: left;
	margin: 16px 10px;
}

.movie-tagline {
	font-style: italic;
	font-size: 12px;
	font-weight: bold;
}

.similar-movies {
	display: inline-block;
	cursor: pointer;
	height: 141px;
}

.similar-movies img {
	height: 100%;
	padding: 10px 10px;
}

.clear {
	clear: both;
}
